/* .square {
  width: 50px;
  height: 50px;
} */

.contain {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(58, 58, 58);
  width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 300;
	overflow: hidden;
	padding: 30px 50px;
}

#header {
  text-align: center;
  position:fixed;
  height: 115px;
  top:0px;
  left:0px;
  width:100%;
  background:rgb(31, 31, 31, .7);
}

#footer {
  text-align: center;
  position:fixed;
  font-size: 15px;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(68, 67, 87, 0.8);
  padding:8px;
}

#header-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: rgb(204, 194, 194);
}

#spacing {
  margin-top: 100px;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:hover {
  background-color: #999;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
